@keyframes slidein {
    from {
        left: -1000px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideinTop {
    from {
        top: -1000px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin-top: 56px;
}

a:hover {
    text-decoration: none;
}

.main {
    min-height: 100%; 
    background-color: #333;
}

.painel {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../images/polygons.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.side-component {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-top: solid 4px #00a8ff;
}

.side-component--animation {
    animation: slideinTop 2s;
}

.welcome_text {
    position: relative;
    animation: slidein 2s;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.image_icons {
    width: 40%;
}

@media screen and (max-width: 575px) {
    .boxes {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}

@media screen and (min-width: 991px) {
    body {
        margin-top: 62px;
    }

    .nav-link {
        padding-bottom: 14px
    }
}